button {
  background-color: purple;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 50px;
  width: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#clear, #del {
  width: 105px;
}

.output {
  background-color: rgb(193, 98, 193);
  color: white;
  font-weight: bold;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  width: 215px;
  height: 30px;
  font-size: 28px;
  margin-bottom: 20px;
}

.bottom {
  display: inline;
  width: 215px;
  font-size: 40px;
  height: 50px;
  vertical-align: text-bottom;
}

.container {
  background-color: plum;
  height: 450px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.footer {
  width: 300px;
  text-align: center
}